<header class="header">
  <div class="wrapper">
    <a class="logo_container" href="/">
      <span class="text-[1.4rem]">
        アスベスト・じん肺被害の給付金・賠償金請求
      </span>
      <img src="assets/images/logo.png" alt="Logo" class="logo" />
    </a>
    <div class="contact_container">
      <a href="tel:050-3096-6400" class="call">
        <i class="fa-solid fa-phone-volume"></i>
        <div>
          <span class="number">050-3096-6400</span>
          <div>
            <span>お電話受付時間</span>
            <span> 平日10：00～17：00 </span>
          </div>
        </div>
      </a>
      <a class="email" href="#contact">
        <i class="fa-solid fa-envelope"></i>
        <div>
          <span>24時間・365日受付中</span>
          <span>フォームでのご相談予約</span>
        </div>
      </a>
      <a class="email_sm" href="mailto:email@yahoo.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
</header>
