<!-- 対象となる方 -> Target People -->
<!-- 給付金・賠償金 受取りの流れ -> Flow of receiving benefits and compensation -->
<!-- 弁護士費用 -> Attorney fees -->
<!-- 弁護士紹介 -> Introduction of lawyers -->
<!-- よくあるご質問 -> Frequently Asked Questions -->

<nav class="nav">
  <div class="wrapper">
    <ul>
      <li>
        <a href="#対象となる方">対象となる方</a>
      </li>
      <li>
        <a href="#給付金・賠償金 受取りの流れ">給付金・賠償金 受取りの流れ</a>
      </li>
      <li>
        <a href="#弁護士費用">弁護士費用</a>
      </li>
      <li>
        <a href="#弁護士紹介">弁護士紹介</a>
      </li>
      <li>
        <a href="#よくあるご質問">よくあるご質問</a>
      </li>
    </ul>
  </div>
</nav>
